<span style="font-size: 20px;">ผู้ดูแลระบบ</span>&nbsp; <i class="pi pi-angle-right"></i>&nbsp;<small>{{title_page[language]}}</small>
<hr style="margin-bottom: 30px;">


<div class="formgrid grid" > 

    <div class="field col-12" *ngIf="loading==true">
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
    </div>    

    <div class="field col-12 md:col-6">
        <p-chart type="bar" [data]="data" [options]="options"  height="300"></p-chart>
    </div>    
    <div class="field col-12 md:col-6">
        <h4 style="padding-top: 20px; font-size: 18px;"><b>รายการหักค่าธรรมเนียมค่ารักษาบัญชีเงินสำรอง</b></h4>
        <p-table  #dtAmount [value]="amount_list" styleClass="p-datatable-sm "
            [tableStyle]="{'max-width': '28rem'}" 
            selectionMode="single" 
            >                            
            <ng-template pTemplate="header">
                <tr>                                   
                    <th>{{title_date[language]}}</th>
                    <th>{{title_count[language]}}</th>   
                    <th>{{title_amount[language]}}</th>                                  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-fee let-i="rowIndex">
                <tr [pSelectableRow]="fee">                                                  
                    <td style="text-align: center;">{{fee._id | date:'dd/MM/yyyy'}}</td>    
                    <td style="text-align: right;">{{fee.count | number:'1.0-2'}}</td>  
                    <td style="text-align: right;">{{fee.totalAmount | number:'1.2-2'}}</td> 
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="field col-12 md:col-6">
        
        <p-table  #dtStatus [value]="status_list" sortField="_id.source" rowGroupMode="subheader" groupRowsBy="_id.source" styleClass="p-datatable-sm "
            [tableStyle]="{'max-width': '35rem', 'margin-top':'20px'}" 
            selectionMode="single" 
            >                            
            <ng-template pTemplate="header">
                <tr>                                   
                    <th>{{title_date[language]}}</th>
                    <th>{{title_status[language]}}</th>   
                    <th>{{title_count[language]}}</th>   
                    <th>{{title_amount[language]}}</th>                                  
                </tr>
            </ng-template>

            <ng-template pTemplate="groupheader" let-fee>
                <tr pRowGroupHeader>
                    <td colspan="4">
                        <span >{{fee._id.source | date:'dd/MM/yyyy'}}</span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-fee let-i="rowIndex">
                <tr >                                                  
                    <td style="text-align: center;"></td>    
                    <td style="text-align: center;">                       
                        <p-tag [value]="doGetStatusDetail(fee._id.status)"
                            [severity]="getSeverity(fee._id.status)"></p-tag>
                    </td>   
                    <td style="text-align: right;">{{fee.count | number:'1.0-2'}}</td>  
                    <td style="text-align: right;">{{fee.totalAmount | number:'1.2-2'}}</td> 
                </tr>
            </ng-template>
        </p-table>


    </div>
    
    
</div>
