
.spn_title{
    padding-top: 10px;
    font-size: 20px;
    color: black;
}

.spn_payment{
    font-size: 36px;
    color: dodgerblue;
}

table{
    border-collapse: collapse;
    width: 300px;
}

table td{
    border: 0px;
    padding: 4px;
    font-size: 15px;
}