/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";
@import "../node_modules/leaflet/dist/leaflet.css";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";

// body {
//   overflow: hidden;
// }
i {
  font-family: 'primeicons';
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  span {
    font-family: 'primeicons', "Segoe UI";
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.p-calendar {
  width: 100% !important;
  height: 35px;
  
}

input[type=file] {
  width: 40vw;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

.selectyaer {
  min-width: 200px !important;

  ul {
    min-width: 200px !important;
  }
}

.path {
  display: flex;
  gap: 5px;
  align-items: center;

  span {
    font-size: 24px
  }

  div {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 5px;
    transform: translate(0, 22%);

    i:before {
      content: "\e932";
    }
  }


}


// td {
//   text-align: left !important;
// }

th {
  text-align: center !important;
}

.searchtable {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

  div {
    display: flex;
    align-items: center;
  }
}

.searchtable1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.tabledata {
  display: grid;
  grid-template-columns: 1fr 0fr;
  flex-wrap: wrap;
}

.p-selectable-row,
.tablenotselect {
  span {
    display: none;
  }

  button {
    span {
      display: block;
    }
  }
}

@media(max-width: 744px) {
  .tabledata {
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }

  .p-dialog {
    width: 100vw !important;
    max-height: 100% !important;
    height: 100%;
  }

  input[type=file] {
    width: 100vw;
  }

  .p-selectable-row,
  .tablenotselect {
    span {
      display: block;
      font-weight: bold;
    }
  }

  .reqtimeot {
    width: 100%;

    input {
      width: 100% !important;
    }
  }

  .searchinput {
    min-width: 80vw;
    ul {
      width: 80vw;
    }
  }
}

.reqtimeot {
  margin-left: 2px;
}

.formatt {
  .step {
    button {
      min-height: 10px
    }
  }

  button {
    min-height: 40px
  }

  min-height: 50vh;
  max-height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 1vw;
  min-width: 370px;
  width: 25vw;

  i:before {
    content: "\e90b";
    display: flex;
    flex-direction: row-reverse;
    color: red;
    font-size: 20px;
    cursor: pointer;
  }

  p {
    display: flex;
    flex-direction: row-reverse;
  }
}

.selecttype {
  min-width: 200px !important;

  li {
    min-width: 200px !important;
  }
}

.p-dropdown-items-wrapper {
  max-height: 50vh !important;
}

textarea {
  min-height: 59px !important;
}

.timeperiod {
  display: flex;
  gap: 10px;

  .timeto {
    div {
      display: flex;
      flex-direction: column;
    }
  }

  p-calendar {
    input {
      text-align: center !important;
      max-width: 60px;
    }
  }

  .inputtime {
    display: flex;
    flex-direction: column;

    input {
      width: 100% !important;
    }
  }

  div {
    max-width: 137px;
  }
}

.formot {
  display: flex;
  gap: 10px;

  input {
    max-width: 137px !important;
  }


  div {
    display: flex;
    flex-wrap: wrap;

  }
}

.p-dropdown {
  width: 100% !important;
}

p-inputnumber {
  width: 100%;

  span {
    width: 100% !important;
  }
}

.picklistvertical {
  .p-picklist .p-picklist-buttons {
    flex-direction: row;
    gap: 10px;
  }

  .p-picklist {
    flex-direction: column;
  }

  .p-picklist .pi-angle-double-right:before {
    content: "\e92c";
  }

  .p-picklist .pi-angle-left:before {
    content: "\e933";
  }

  .p-picklist .pi-angle-right:before {
    content: "\e930";
  }

  .p-picklist .pi-angle-double-left:before {
    content: "\e92f";
  }

  .p-picklist-source-controls {
    display: none !important;
  }

  .p-picklist-target-controls {
    display: none !important;
  }
}

@media only screen and (max-width: 900px) {
  .col_detail{
      display: none;
  }
} 